@media screen and (min-width: 600px) {
  #restaurants-list li {
    max-width: 33%;
  }
}

@media screen and (min-width: 800px) {
  #restaurants-list li {
    max-width: 21%;
  }
}

@media screen and (min-width: 1200px) {
  #restaurants-list li {
    max-width: 17%;
  }
}