@media screen and (min-width: 600px) {
  #restaurants-list li {
    max-width: 33%;
  }
  
  .filter-options {
     display: flex;
   }
   
   .filter-options select {
     display: block;
   }
   
   nav h1 a {
     font-size: 1.5em;
   }
}

@media screen and (min-width: 700px) {
  #restaurant-combined {
    display: flex;
  }
  
  #restaurant-main, #restaurant-info {
    width: 50%;
  }
}

@media screen and (min-width: 900px) {
  #restaurants-list li {
    max-width: 24%;
  }
  
}

@media screen and (min-width: 1200px) {
  #restaurants-list li {
    max-width: 19%;
  }
  
  nav h1 a {
    font-size: 2em;
  }
}